<configuration>

    <property name="LOG_HOME" value="/"/>
    <springProperty scope="context" name="logLevel" source="log.level"/>
    <springProperty scope="context" name="logEnv" source="spring.profiles"/>

    <springProperty scope="context" name="logPatternConsole" source="log.pattern.console"/>
    <springProperty scope="context" name="logPatternFile" source="log.pattern.file"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">s
        <encoder>
            <!-- logger日志定义的class位置，class为日志实际输出位置 -->
            <pattern>${logPatternConsole}</pattern>
        </encoder>
    </appender>

    <!-- 开发环境不输出日志文件 -->
    <if condition='property("logEnv").contains("dev")'>
        <then>
            <root level="${logLevel}">
                <appender-ref ref="STDOUT" />
            </root>
        </then>
        <else>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${catalina.base}/logs/cc.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <maxFileSize>500MB</maxFileSize>
                    <maxHistory>60</maxHistory>
                    <totalSizeCap>20GB</totalSizeCap>
                    <fileNamePattern>${catalina.base}/logs/daily/cc-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                </rollingPolicy>
                <encoder>
                    <pattern>%date %level [%thread]  [%class:%line] - %msg%n %ex{short}</pattern>
                </encoder>

            </appender>
            <root level="${logLevel}">
                <appender-ref ref="STDOUT" />
                <appender-ref ref="FILE" />
            </root>
        </else>
    </if>

</configuration>