<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcredit.persistence.mapper.DicitionaryMapper">

  <resultMap type="com.vcredit.persistence.po.Dicitionary" id="dicitionary">
    <result property="id" column="id" />
    <result property="value" column="value" />
    <result property="parentId" column="parent_id" />
    <result property="comment" column="comment" />
    <result property="createdTime" column="created_time" />
    <result property="updateTime" column="update_time" />
  </resultMap>
  <resultMap type="com.vcredit.service.dto.DicitionaryDto" id="dicitionaryDto">
    <result property="id" column="id" />
    <result property="value" column="value" />
    <result property="parentId" column="parent_id" />
    <result property="comment" column="comment" />
    <result property="createdTime" column="created_time" />
    <result property="updateTime" column="update_time" />
  </resultMap>

  
	<insert id="insert" parameterType="com.vcredit.persistence.po.Dicitionary" useGeneratedKeys="true" keyProperty="id">
    	insert into `t_dicitionary`(
    	<trim prefixOverrides=",">
    		<if test="true">
    			,`id`
    		</if>
	    	<if test="value != null">
	    		,`value`
	    	</if>
	    	<if test="parentId != null">
	    		,`parent_id`
	    	</if>
	    	<if test="comment != null">
	    		,`comment`
	    	</if>
	    	<if test="createdTime != null">
	    		,`created_time`
	    	</if>
	    	<if test="updateTime != null">
	    		,`update_time`
	    	</if>
    	</trim>
    	) values(
		<trim prefixOverrides=",">
    		<if test="true">
    			,#{id}
    		</if>
	    	<if test="value != null">
    			,#{value}
    		</if>
	    	<if test="parentId != null">
    			,#{parentId}
    		</if>
	    	<if test="comment != null">
    			,#{comment}
    		</if>
	    	<if test="createdTime != null">
    			,#{createdTime}
    		</if>
	    	<if test="updateTime != null">
    			,#{updateTime}
    		</if>
    	</trim>
    	)
	</insert>
	<update id="update" parameterType="com.vcredit.persistence.po.Dicitionary">
		update `t_dicitionary` 
		<trim prefix="set" prefixOverrides=","> 
					<if test="value !=null">
						,`value` = #{value}
					</if>
					<if test="parentId !=null">
						,`parent_id` = #{parentId}
					</if>
					<if test="comment !=null">
						,`comment` = #{comment}
					</if>
					<if test="createdTime !=null">
						,`created_time` = #{createdTime}
					</if>
					<if test="updateTime !=null">
						,`update_time` = #{updateTime}
					</if>
		</trim>
		where `id` = #{id}
	</update>
	<select id="findById" parameterType="java.lang.Long" resultMap="dicitionary">
		select * from `t_dicitionary` where id = #{id}
	</select>
	<select id="findByParentId" parameterType="java.lang.Long" resultMap="dicitionaryDto">
		select * from `t_dicitionary` where parent_id = #{parentId}
	</select>
	<select id="find" parameterType="com.vcredit.persistence.po.Dicitionary" resultMap="dicitionary">
		select * from `t_dicitionary`
		<where>
				<if test="id !=null">
					and `id` = #{id} 
				</if>
				<if test="value !=null">
					and `value` = #{value} 
				</if>
				<if test="parentId !=null">
					and `parent_id` = #{parentId} 
				</if>
				<if test="comment !=null">
					and `comment` = #{comment} 
				</if>
				<if test="createdTime !=null">
					and `created_time` = #{createdTime} 
				</if>
				<if test="updateTime !=null">
					and `update_time` = #{updateTime} 
				</if>
		</where>
	</select>
</mapper>