<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vcredit.persistence.mapper.CreditConfigMapper">
  <resultMap type="com.vcredit.persistence.po.CreditConfig" id="creditConfig">
    <result property="id" column="id" />
    <result property="projectName" column="project_name" />
    <result property="seqNo" column="seq_no" />
    <result property="stepName" column="step_name" />
    <result property="useStatus" column="use_status" />
    <result property="createdTime" column="created_time" />
    <result property="updatedTime" column="updated_time" />
  </resultMap>

	<insert id="insert" parameterType="com.vcredit.persistence.po.CreditConfig" useGeneratedKeys="true" keyProperty="id">
    	insert into `t_credit_config`(
    	<trim prefixOverrides=",">
    		<if test="true">
    			,`id`
    		</if>
	    	<if test="projectName != null">
	    		,`project_name`
	    	</if>
	    	<if test="seqNo != null">
	    		,`seq_no`
	    	</if>
	    	<if test="stepName != null">
	    		,`step_name`
	    	</if>
	    	<if test="useStatus != null">
	    		,`use_status`
	    	</if>
	    	<if test="createdTime != null">
	    		,`created_time`
	    	</if>
	    	<if test="updatedTime != null">
	    		,`updated_time`
	    	</if>
    	</trim>
    	) values(
		<trim prefixOverrides=",">
    		<if test="true">
    			,#{id}
    		</if>
	    	<if test="projectName != null">
    			,#{projectName}
    		</if>
	    	<if test="seqNo != null">
    			,#{seqNo}
    		</if>
	    	<if test="stepName != null">
    			,#{stepName}
    		</if>
	    	<if test="useStatus != null">
    			,#{useStatus}
    		</if>
	    	<if test="createdTime != null">
    			,#{createdTime}
    		</if>
	    	<if test="updatedTime != null">
    			,#{updatedTime}
    		</if>
    	</trim>
    	)
	</insert>
	<update id="update" parameterType="com.vcredit.persistence.po.CreditConfig">
		update `t_credit_config` 
		<trim prefix="set" prefixOverrides=","> 
					<if test="projectName !=null">
						,`project_name` = #{projectName}
					</if>
					<if test="seqNo !=null">
						,`seq_no` = #{seqNo}
					</if>
					<if test="stepName !=null">
						,`step_name` = #{stepName}
					</if>
					<if test="useStatus !=null">
						,`use_status` = #{useStatus}
					</if>
					<if test="createdTime !=null">
						,`created_time` = #{createdTime}
					</if>
					<if test="updatedTime !=null">
						,`updated_time` = #{updatedTime}
					</if>
		</trim>
		where `id` = #{id}
	</update>
	<select id="findOrderConfigByName" parameterType="java.lang.String" resultMap="creditConfig">
		select * from `t_credit_config` where `project_name` = #{projectName} order by seq_no asc
	</select>
	<select id="findById" parameterType="java.lang.Long" resultMap="creditConfig">
		select * from `t_credit_config` where id = #{id}
	</select>
	<delete id="delete" parameterType="java.lang.Long">
		delete from `t_credit_config` where `id` = #{id}
	</delete>	
	<select id="find" parameterType="com.vcredit.persistence.po.CreditConfig" resultMap="creditConfig">
		select * from `t_credit_config`
		<where>
				<if test="id !=null">
					and `id` = #{id} 
				</if>
				<if test="projectName !=null">
					and `project_name` = #{projectName} 
				</if>
				<if test="seqNo !=null">
					and `seq_no` = #{seqNo} 
				</if>
				<if test="stepName !=null">
					and `step_name` = #{stepName} 
				</if>
				<if test="useStatus !=null">
					and `use_status` = #{useStatus} 
				</if>
				<if test="createdTime !=null">
					and `created_time` = #{createdTime} 
				</if>
				<if test="updatedTime !=null">
					and `updated_time` = #{updatedTime} 
				</if>
		</where>
	</select>

</mapper>